<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUU8_U7U6i1UlSGkZ3KUh9kyDXZqEByMA</string>
	<key>GCM_SENDER_ID</key>
	<string>41772010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoppingbabes.sbuser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoppingbabsenayoncoders</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingbabsenayoncoders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41772010:ios:46d5f820549eb7f5228893</string>
</dict>
</plist>